@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,700,900&display=swap");
* {
  padding: 0;
  margin: 0;
}

body, html {
  height: 100%;
}

body {
  color: ghostwhite;
  font-family: "Work Sans", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.window {
  width: 80%;
  height: 80vh;
  overflow: hidden;
  position: relative;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
  z-index: 3;
}

.slider {
  height: 100%;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 1s;
  transition: 1s;
  left: 0;
}

.slider__slide {
  position: absolute;
  height: 80vh;
  width: 80vw;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.slider__slide--active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.slider__front {
  height: 100%;
  width: 100%;
  z-index: 2;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

.slider__image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  background-position: center;
  z-index: 1;
  -webkit-transition: all 1s cubic-bezier(0.165, 0.65, 0.1, 0.985);
  transition: all 1s cubic-bezier(0.165, 0.65, 0.1, 0.985);
  -webkit-animation-name: blurOut;
          animation-name: blurOut;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes blurOut {
  0% {
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}

@keyframes blurOut {
  0% {
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}

.slider__image--zoom {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
  -webkit-transition: -webkit-transform 1s cubic-bezier(0.165, 0.65, 0.1, 0.985);
  transition: -webkit-transform 1s cubic-bezier(0.165, 0.65, 0.1, 0.985);
  transition: transform 1s cubic-bezier(0.165, 0.65, 0.1, 0.985);
  transition: transform 1s cubic-bezier(0.165, 0.65, 0.1, 0.985), -webkit-transform 1s cubic-bezier(0.165, 0.65, 0.1, 0.985);
  -webkit-animation-name: blurIn;
          animation-name: blurIn;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

@-webkit-keyframes blurIn {
  0% {
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}

@keyframes blurIn {
  0% {
    -webkit-filter: blur(4px);
            filter: blur(4px);
  }
  100% {
    -webkit-filter: blur(0px);
            filter: blur(0px);
  }
}

.content {
  color: whitesmoke;
  width: 55%;
  position: absolute;
  right: 0;
  bottom: auto;
  text-align: right;
  -webkit-clip-path: polygon(56% 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(56% 0, 100% 0, 100% 100%, 0% 100%);
  background: rgba(0, 0, 0, 0.2);
  height: 100%;
}

.content div {
  position: absolute;
  right: 5vh;
  bottom: 10vh;
  max-width: 60%;
}

.content h1 {
  font-size: 5vh;
  margin-bottom: 1vh;
  text-shadow: 0px 5px 16px rgba(0, 0, 0, 0.2);
}

.content p {
  font-size: 1.5vh;
  line-height: 2vh;
  text-shadow: 0px 2px 12px rgba(0, 0, 0, 0.2);
}

.credentials {
  color: white;
  top: 3vh;
  left: 3vh;
  font-size: 1.1em;
  position: absolute;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-shadow: 0 0 15px #d6c0e0;
}
/*# sourceMappingURL=style.css.map */