@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,700,900&display=swap");

$back: #777;
$front: ghostwhite;
$sans: "Work Sans", sans-serif;

$ease-out: cubic-bezier(0.165, 0.65, 0.1, 0.985);

$base: 3vh;

* {
    padding: 0;
    margin: 0;
}

body, html {
    height: 100%;
}

body {
    color: $front;
    font-family: $sans;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 200ms linear;
}

.window {
    width: 80%;
    height: 80vh;
    overflow: hidden;
    position: relative;
    box-shadow: 0 0 50px rgba(black, 0.4);

    z-index: 3;
}





// information about images



.credentials {
    color: rgba(white, 1);
    top: $base;
    left: $base;
    font-size: 1.1em;
    position: absolute;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-shadow: 0 0 15px rgba(rgb(214, 192, 224), 1);
}