@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,700,900&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  background: #777;
  color: ghostwhite;
  font-family: "Work Sans", sans-serif;
}

.slider {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
}

.slider__slide {
  position: absolute;
  height: 100vh;
  width: 100vw;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}

.slider__slide--active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.slider__front {
  height: 100%;
  width: 100%;
  z-index: 99;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider__front .go-to-next, .slider__front .go-back {
  position: absolute;
  top: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  font-weight: 700;
  font-size: 2em;
  text-shadow: 0 0 20px black;
  cursor: pointer;
  width: 10%;
  height: 100%;
  z-index: 199;
}

.slider__front .go-to-next {
  right: 0;
}

.slider__front .go-to-next:hover .shadow__next {
  -webkit-box-shadow: 20px -10px 50px 50px rgba(0, 0, 0, 0.247);
          box-shadow: 20px -10px 50px 50px rgba(0, 0, 0, 0.247);
  visibility: visible;
}

.slider__front .go-back {
  left: 0;
}

.slider__front .go-back:hover .shadow__back {
  -webkit-box-shadow: 20px -10px 50px 30px rgba(0, 0, 0, 0.247);
          box-shadow: 20px -10px 50px 30px rgba(0, 0, 0, 0.247);
  visibility: visible;
}

.slider__image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
  z-index: 1;
}

.shadow__back {
  height: 100%;
  width: 1px;
  position: absolute;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
  visibility: hidden;
}

.shadow__next {
  height: 100%;
  right: 0;
  width: 1px;
  position: absolute;
  -webkit-transition: ease-in-out .3s;
  transition: ease-in-out .3s;
}

.information {
  position: relative;
  opacity: 0.8;
  z-index: 10;
}

.information__heading .title h1 {
  text-align: center;
  margin: 0 auto;
  font-size: 25px;
}

.information__description {
  margin-left: 10px;
  width: 250px;
  padding: 20px;
  background-color: #FFF;
  margin: 0 auto;
  margin-top: 35px;
  font-size: 14px;
  font-weight: normal;
  text-align: justify;
  color: #000;
}

.information__description:before {
  content: "";
  position: absolute;
  margin-left: 110px;
  margin-top: -35px;
  border-top: none;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
  border-bottom: 15px solid #FFF;
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 0 auto;
  z-index: 10;
}

.footer .buttons {
  margin: 0 auto;
  margin-bottom: 30px;
  width: 100px;
}

.footer .buttons ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer .buttons .circle {
  margin-left: 5px;
  position: relative;
  height: 12px;
  width: 12px;
  border: 3px solid #FFF;
  display: inline-block;
  border-radius: 50%;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.footer .buttons .circle:before {
  visibility: hidden;
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #FFF;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
}

.footer .buttons .circle:hover, .footer .buttons .circle--active {
  cursor: pointer;
}

.footer .buttons .circle:hover:before, .footer .buttons .circle--active:before {
  visibility: visible;
  -webkit-transform: translate(-50%, -50%) scale(1);
          transform: translate(-50%, -50%) scale(1);
}
/*# sourceMappingURL=style.css.map */