@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,700,900&display=swap");

$back: #777;
$front: ghostwhite;
$sans: "Work Sans", sans-serif;

$base: 3vh;

* {
  padding: 0;
  margin: 0;
}

body,
html {
  height: 100%;
}
body {
  background: radial-gradient(#777788, #323232);
  color: $front;
  font-family: $sans;
  display: flex;
  align-items: center;
  justify-content: center;
}

.window {
  width: 80%;
  height: 80vh;
  overflow: hidden;
  position: relative;

  z-index: 3;
}
.slider {
  height: 100%;

  position: absolute;
  display: flex;
  transition: 1s;
  box-shadow: 0 0 50px rgba(black, 0.4);
  left: 0;

  &__slide {
    position: absolute;
    height: 80vh;
    width: 80vw;
    flex: 1;

    &--active {
      transform: translateX(0%);
    }
  }

  &__front {
    height: 100%;
    width: 100%;
    z-index: 2;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__image {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-size: cover;
    z-index: 1;
    transition: all 1s cubic-bezier(0.165, 0.65, 0.1, 0.985);
    animation-name: blurOut;
    animation-duration: 1s;

    @keyframes blurOut {
      0% {
        filter: blur(4px);
      }
      100% {
        filter: blur(0px);
      }
    }

    &--zoom {
      transform: scale(1.5);
      transition: transform 1s cubic-bezier(0.165, 0.65, 0.1, 0.985);

      @keyframes blurIn {
        0% {
          filter: blur(4px);
        }
        100% {
          filter: blur(0px);
        }
      }

      animation-name: blurIn;
      animation-duration: 1s;
    }
  }
}

.information {
  position: relative;
  opacity: 0.8;
  z-index: 10;

  &__heading {
    .title h1 {
      text-align: center;
      margin: 0 auto;
      font-size: 25px;
    }
  }

  &__description {
    margin-left: 10px;
    width: 250px;
    padding: 20px;
    background-color: #fff;
    margin: 0 auto;
    margin-top: 35px;

    font-size: 14px;
    font-weight: normal;
    text-align: justify;
    color: #000;

    &:before {
      content: "";
      position: absolute;
      margin-left: 110px;
      margin-top: -35px;
      border-top: none;
      border-right: 15px solid transparent;
      border-left: 15px solid transparent;
      border-bottom: 15px solid #fff;
    }
  }
}

.footer {
  position: absolute;
  width: 100%;
  bottom: 0;
  margin: 0 auto;
  z-index: 10;

  .buttons {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 100px;

    ul {
      list-style-type: none;
      display: flex;
    }

    .circle {
      margin-left: 5px;
      position: relative;
      height: 12px;
      width: 12px;
      border: 3px solid #fff;
      display: inline-block;
      border-radius: 50%;
      transition: transform 0.3s;

      &:before {
        visibility: hidden;
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        background-color: #fff;
        transition: transform 0.3s;
        transform: translate(-50%, -50%) scale(0);
      }

      &:hover,
      &--active {
        cursor: pointer;
        &:before {
          visibility: visible;
          transform: translate(-50%, -50%) scale(1);
        }
      }
    }
  }
}

//sliding menu/information

.menu {
  color: #000;
  position: absolute;
  width: 400px;
  height: 350px;
  top: 30%;
  transition: 0.5s;
  left: -400px;
  background: #fff;
  opacity: 0.9;
  padding: 40px;
  z-index: 2;
  -webkit-box-shadow: 2px 3px 40px -11px rgba(31, 31, 31, 1);
  box-shadow: 2px 3px 40px -11px rgba(31, 31, 31, 1);

  &:after,
  &:before {
    content: " ";
    width: 15px;
    height: 15px;
    position: absolute;
    border: 0px solid #fff;
    transition: all 1s;
  }

  &:after {
    top: 0px;
    left: 0px;
    border-top: 5px solid black;
  }

  &:before {
    bottom: 0px;
    right: 0px;
    border-bottom: 5px solid black;
    border-right: 5px solid black;
  }

  &:hover {
    left: 0;

    &:before,
    &:after {
      width: 100%;
      height: 98%;
    }
  }

  & p {
    text-align: justify;
    font-family: "Dosis", sans-serif;
    font-size: 15px;
  }

  & h1 {
    font-size: 22px;
    font-family: "Linden Hill", serif;
  }
}
